<settings version="2">
    <setting id="DECRYPTERPATH" default="true">special://home/cdm</setting>
    <setting id="HDCPOVERRIDE" default="true">false</setting>
    <setting id="IGNOREDISPLAY" default="true">false</setting>
    <setting id="MAXBANDWIDTH">809600</setting>
    <setting id="MAXRESOLUTION">1</setting>
    <setting id="MAXRESOLUTIONSECURE">1</setting>
    <setting id="MEDIATYPE" default="true">0</setting>
    <setting id="MINBANDWIDTH" default="true">0</setting>
    <setting id="PRERELEASEFEATURES" default="true">false</setting>
    <setting id="STREAMSELECTION">1</setting>
    <setting id="WIDEVINE_API" default="true">10</setting>
</settings>
