<settings version="2">
    <setting id="0day_alias" default="true"></setting>
    <setting id="0day_contains" default="true">0</setting>
    <setting id="0day_password" default="true"></setting>
    <setting id="0day_username" default="true"></setting>
    <setting id="1337x_alias" default="true"></setting>
    <setting id="1337x_contains" default="true">0</setting>
    <setting id="3dtrackerru_alias" default="true"></setting>
    <setting id="3dtrackerru_contains" default="true">0</setting>
    <setting id="3dtrackerru_password" default="true"></setting>
    <setting id="3dtrackerru_username" default="true"></setting>
    <setting id="accept" default="true"></setting>
    <setting id="additional_filters" default="true">false</setting>
    <setting id="allow_noseeds" default="true">false</setting>
    <setting id="auto_timeout">false</setting>
    <setting id="baibako_alias" default="true"></setting>
    <setting id="baibako_contains" default="true">0</setting>
    <setting id="baibako_password" default="true"></setting>
    <setting id="baibako_username" default="true"></setting>
    <setting id="bithumen_alias" default="true"></setting>
    <setting id="bithumen_contains" default="true">0</setting>
    <setting id="bithumen_password" default="true"></setting>
    <setting id="bithumen_username" default="true"></setting>
    <setting id="bitnova_alias" default="true"></setting>
    <setting id="bitnova_contains" default="true">0</setting>
    <setting id="bitnova_password" default="true"></setting>
    <setting id="bitnova_username" default="true"></setting>
    <setting id="block" default="true"></setting>
    <setting id="bluebird_alias" default="true"></setting>
    <setting id="bluebird_contains" default="true">0</setting>
    <setting id="bluebird_password" default="true"></setting>
    <setting id="bluebird_username" default="true"></setting>
    <setting id="cpasbien_alias" default="true"></setting>
    <setting id="cpasbien_contains" default="true">0</setting>
    <setting id="ettv_alias" default="true"></setting>
    <setting id="ettv_contains" default="true">0</setting>
    <setting id="eztv_alias" default="true"></setting>
    <setting id="eztv_contains" default="true">0</setting>
    <setting id="filelist_alias" default="true"></setting>
    <setting id="filelist_contains" default="true">0</setting>
    <setting id="filelist_passkey" default="true"></setting>
    <setting id="filelist_username" default="true"></setting>
    <setting id="filetracker_alias" default="true"></setting>
    <setting id="filetracker_contains" default="true">0</setting>
    <setting id="filetracker_password" default="true"></setting>
    <setting id="filetracker_username" default="true"></setting>
    <setting id="filter_1080p">false</setting>
    <setting id="filter_240p">true</setting>
    <setting id="filter_2k">false</setting>
    <setting id="filter_3d" default="true">false</setting>
    <setting id="filter_480p">true</setting>
    <setting id="filter_4k">false</setting>
    <setting id="filter_720p">true</setting>
    <setting id="filter_brrip">true</setting>
    <setting id="filter_cam" default="true">false</setting>
    <setting id="filter_dvd">true</setting>
    <setting id="filter_dvdscr">true</setting>
    <setting id="filter_hdrip">true</setting>
    <setting id="filter_hdtv">true</setting>
    <setting id="filter_iptvrip">true</setting>
    <setting id="filter_line" default="true">false</setting>
    <setting id="filter_quotes" default="true">false</setting>
    <setting id="filter_screener">true</setting>
    <setting id="filter_telesync" default="true">false</setting>
    <setting id="filter_trailer" default="true">false</setting>
    <setting id="filter_tvrip">true</setting>
    <setting id="filter_vhsrip" default="true">false</setting>
    <setting id="filter_webdl">true</setting>
    <setting id="filter_workprint" default="true">false</setting>
    <setting id="filtering_help" default="true"></setting>
    <setting id="gimmepeers_alias" default="true"></setting>
    <setting id="gimmepeers_contains" default="true">0</setting>
    <setting id="gimmepeers_password" default="true"></setting>
    <setting id="gimmepeers_username" default="true"></setting>
    <setting id="glotorrents_alias" default="true"></setting>
    <setting id="glotorrents_contains" default="true">0</setting>
    <setting id="hd-torrents_alias" default="true"></setting>
    <setting id="hd-torrents_contains" default="true">0</setting>
    <setting id="hd-torrents_password" default="true"></setting>
    <setting id="hd-torrents_username" default="true"></setting>
    <setting id="idope_alias" default="true"></setting>
    <setting id="idope_contains" default="true">0</setting>
    <setting id="ilcorsaroblu_alias" default="true"></setting>
    <setting id="ilcorsaroblu_contains" default="true">0</setting>
    <setting id="ilcorsaronero_alias" default="true"></setting>
    <setting id="ilcorsaronero_contains" default="true">0</setting>
    <setting id="ilcorsarored_alias" default="true"></setting>
    <setting id="ilcorsarored_contains" default="true">0</setting>
    <setting id="iptorrents_alias" default="true"></setting>
    <setting id="iptorrents_contains" default="true">0</setting>
    <setting id="iptorrents_password" default="true"></setting>
    <setting id="iptorrents_username" default="true"></setting>
    <setting id="itorrent_alias" default="true"></setting>
    <setting id="itorrent_contains" default="true">0</setting>
    <setting id="kickass_alias" default="true"></setting>
    <setting id="kickass_contains" default="true">0</setting>
    <setting id="kinozal_alias" default="true"></setting>
    <setting id="kinozal_contains" default="true">0</setting>
    <setting id="kinozal_password" default="true"></setting>
    <setting id="kinozal_username" default="true"></setting>
    <setting id="kodi_language" default="true">false</setting>
    <setting id="language_exceptions" default="true"></setting>
    <setting id="language_help" default="true"></setting>
    <setting id="limetorrents_alias" default="true"></setting>
    <setting id="limetorrents_contains" default="true">0</setting>
    <setting id="linkomanija_alias" default="true"></setting>
    <setting id="linkomanija_contains" default="true">0</setting>
    <setting id="linkomanija_password" default="true"></setting>
    <setting id="linkomanija_username" default="true"></setting>
    <setting id="magnetdl_alias" default="true"></setting>
    <setting id="magnetdl_contains" default="true">0</setting>
    <setting id="max_results">25</setting>
    <setting id="max_size">50.75</setting>
    <setting id="max_size_episodes">100</setting>
    <setting id="max_size_movies">100</setting>
    <setting id="max_size_seasons">100</setting>
    <setting id="megapeer_alias" default="true"></setting>
    <setting id="megapeer_contains" default="true">0</setting>
    <setting id="min_size" default="true">0</setting>
    <setting id="min_size_episodes" default="true">0</setting>
    <setting id="min_size_movies" default="true">0</setting>
    <setting id="min_size_seasons" default="true">0</setting>
    <setting id="mvgroup_alias" default="true"></setting>
    <setting id="mvgroup_contains" default="true">0</setting>
    <setting id="mvgroup_password" default="true"></setting>
    <setting id="mvgroup_username" default="true"></setting>
    <setting id="myxzorg_alias" default="true"></setting>
    <setting id="myxzorg_contains" default="true">0</setting>
    <setting id="myxzorg_password" default="true"></setting>
    <setting id="myxzorg_username" default="true"></setting>
    <setting id="ncore_alias" default="true"></setting>
    <setting id="ncore_contains" default="true">0</setting>
    <setting id="ncore_password" default="true"></setting>
    <setting id="ncore_username" default="true"></setting>
    <setting id="nitro_alias" default="true"></setting>
    <setting id="nitro_contains" default="true">0</setting>
    <setting id="nitro_password" default="true"></setting>
    <setting id="nitro_username" default="true"></setting>
    <setting id="nnmclub_alias" default="true"></setting>
    <setting id="nnmclub_contains" default="true">0</setting>
    <setting id="nnmclub_password" default="true"></setting>
    <setting id="nnmclub_username" default="true"></setting>
    <setting id="nyaa_alias" default="true"></setting>
    <setting id="nyaa_contains" default="true">0</setting>
    <setting id="opennic_dns_list" default="true">193.183.98.66, 172.104.136.243, 89.18.27.167</setting>
    <setting id="proxy_enabled" default="true">false</setting>
    <setting id="proxy_host" default="true"></setting>
    <setting id="proxy_login" default="true"></setting>
    <setting id="proxy_password" default="true"></setting>
    <setting id="proxy_port">1080</setting>
    <setting id="proxy_type">1</setting>
    <setting id="proxy_use_type" default="true">0</setting>
    <setting id="public_dns_list" default="true">8.8.8.8, 8.8.4.4, 9.9.9.9</setting>
    <setting id="rarbg_alias" default="true"></setting>
    <setting id="rarbg_contains" default="true">0</setting>
    <setting id="require" default="true"></setting>
    <setting id="require_keywords">true</setting>
    <setting id="require_release_type">true</setting>
    <setting id="require_resolution">true</setting>
    <setting id="require_size">true</setting>
    <setting id="rustorka_alias" default="true"></setting>
    <setting id="rustorka_contains" default="true">0</setting>
    <setting id="rustorka_password" default="true"></setting>
    <setting id="rustorka_username" default="true"></setting>
    <setting id="rutor_alias" default="true"></setting>
    <setting id="rutor_contains" default="true">0</setting>
    <setting id="rutracker_alias" default="true"></setting>
    <setting id="rutracker_contains" default="true">0</setting>
    <setting id="rutracker_password" default="true"></setting>
    <setting id="rutracker_username" default="true"></setting>
    <setting id="separate_sizes" default="true">false</setting>
    <setting id="serialz_alias" default="true"></setting>
    <setting id="serialz_contains" default="true">0</setting>
    <setting id="skytorrents_alias" default="true"></setting>
    <setting id="skytorrents_contains" default="true">0</setting>
    <setting id="sort_by">2</setting>
    <setting id="sumotorrent_alias" default="true"></setting>
    <setting id="sumotorrent_contains" default="true">0</setting>
    <setting id="tfile_alias" default="true"></setting>
    <setting id="tfile_contains" default="true">0</setting>
    <setting id="tfile_password" default="true"></setting>
    <setting id="tfile_username" default="true"></setting>
    <setting id="thepiratebay_alias" default="true"></setting>
    <setting id="thepiratebay_contains" default="true">0</setting>
    <setting id="timeout">30</setting>
    <setting id="timeout_help" default="true"></setting>
    <setting id="toloka_alias" default="true"></setting>
    <setting id="toloka_contains" default="true">0</setting>
    <setting id="toloka_password" default="true"></setting>
    <setting id="toloka_username" default="true"></setting>
    <setting id="torlock_alias" default="true"></setting>
    <setting id="torlock_contains" default="true">0</setting>
    <setting id="torrent3dru_alias" default="true"></setting>
    <setting id="torrent3dru_contains" default="true">0</setting>
    <setting id="torrent3dru_password" default="true"></setting>
    <setting id="torrent3dru_username" default="true"></setting>
    <setting id="torrent9_alias" default="true"></setting>
    <setting id="torrent9_contains" default="true">0</setting>
    <setting id="torrentdownloads_alias" default="true"></setting>
    <setting id="torrentdownloads_contains" default="true">0</setting>
    <setting id="torrentfunk_alias" default="true"></setting>
    <setting id="torrentfunk_contains" default="true">0</setting>
    <setting id="torrentleech_alias" default="true"></setting>
    <setting id="torrentleech_contains" default="true">0</setting>
    <setting id="torrentleech_password" default="true"></setting>
    <setting id="torrentleech_username" default="true"></setting>
    <setting id="torrentlt_alias" default="true"></setting>
    <setting id="torrentlt_contains" default="true">0</setting>
    <setting id="torrentlt_password" default="true"></setting>
    <setting id="torrentlt_username" default="true"></setting>
    <setting id="torrentz2k_alias" default="true"></setting>
    <setting id="torrentz2k_contains" default="true">0</setting>
    <setting id="torrentz_alias" default="true"></setting>
    <setting id="torrentz_contains" default="true">0</setting>
    <setting id="uhdbits_alias" default="true"></setting>
    <setting id="uhdbits_contains" default="true">0</setting>
    <setting id="uhdbits_password" default="true"></setting>
    <setting id="uhdbits_username" default="true"></setting>
    <setting id="use_0day" default="true">false</setting>
    <setting id="use_1337x">true</setting>
    <setting id="use_3dtrackerru" default="true">false</setting>
    <setting id="use_baibako" default="true">false</setting>
    <setting id="use_bithumen" default="true">false</setting>
    <setting id="use_bitnova" default="true">false</setting>
    <setting id="use_bluebird" default="true">false</setting>
    <setting id="use_cpasbien" default="true">false</setting>
    <setting id="use_debug_parser" default="true">false</setting>
    <setting id="use_elementum_proxy">true</setting>
    <setting id="use_ettv" default="true">false</setting>
    <setting id="use_eztv" default="true">false</setting>
    <setting id="use_filelist" default="true">false</setting>
    <setting id="use_filetracker" default="true">false</setting>
    <setting id="use_gimmepeers">true</setting>
    <setting id="use_glotorrents">true</setting>
    <setting id="use_hd-torrents">true</setting>
    <setting id="use_idope">true</setting>
    <setting id="use_ilcorsaroblu" default="true">false</setting>
    <setting id="use_ilcorsaronero" default="true">false</setting>
    <setting id="use_ilcorsarored" default="true">false</setting>
    <setting id="use_iptorrents">true</setting>
    <setting id="use_itorrent" default="true">false</setting>
    <setting id="use_kickass">true</setting>
    <setting id="use_kinozal" default="true">false</setting>
    <setting id="use_limetorrents">true</setting>
    <setting id="use_linkomanija" default="true">false</setting>
    <setting id="use_magnetdl">true</setting>
    <setting id="use_megapeer" default="true">false</setting>
    <setting id="use_mvgroup">true</setting>
    <setting id="use_myxzorg" default="true">false</setting>
    <setting id="use_ncore" default="true">false</setting>
    <setting id="use_nitro" default="true">false</setting>
    <setting id="use_nnmclub" default="true">false</setting>
    <setting id="use_nyaa">true</setting>
    <setting id="use_public_dns" default="true">false</setting>
    <setting id="use_rarbg">true</setting>
    <setting id="use_rustorka" default="true">false</setting>
    <setting id="use_rutor" default="true">false</setting>
    <setting id="use_rutracker" default="true">false</setting>
    <setting id="use_serialz" default="true">false</setting>
    <setting id="use_skytorrents">false</setting>
    <setting id="use_sumotorrent">true</setting>
    <setting id="use_tfile" default="true">false</setting>
    <setting id="use_thepiratebay">true</setting>
    <setting id="use_toloka" default="true">false</setting>
    <setting id="use_torlock">true</setting>
    <setting id="use_torrent3dru" default="true">false</setting>
    <setting id="use_torrent9" default="true">false</setting>
    <setting id="use_torrentdownloads">true</setting>
    <setting id="use_torrentfunk">true</setting>
    <setting id="use_torrentleech">true</setting>
    <setting id="use_torrentlt" default="true">false</setting>
    <setting id="use_torrentz">true</setting>
    <setting id="use_torrentz2k">true</setting>
    <setting id="use_uhdbits">true</setting>
    <setting id="use_worldwidetorrents">true</setting>
    <setting id="use_yggtorrent" default="true">false</setting>
    <setting id="use_yourbittorrent">true</setting>
    <setting id="use_yts">true</setting>
    <setting id="use_zamunda" default="true">false</setting>
    <setting id="use_zelka" default="true">false</setting>
    <setting id="use_zooqle">true</setting>
    <setting id="worldwidetorrents_alias" default="true"></setting>
    <setting id="worldwidetorrents_contains" default="true">0</setting>
    <setting id="yggtorrent_alias" default="true"></setting>
    <setting id="yggtorrent_contains" default="true">0</setting>
    <setting id="yggtorrent_password" default="true"></setting>
    <setting id="yggtorrent_username" default="true"></setting>
    <setting id="yourbittorrent_alias" default="true"></setting>
    <setting id="yourbittorrent_contains" default="true">0</setting>
    <setting id="yts_alias" default="true"></setting>
    <setting id="yts_contains" default="true">0</setting>
    <setting id="zamunda_alias" default="true"></setting>
    <setting id="zamunda_contains" default="true">0</setting>
    <setting id="zamunda_password" default="true"></setting>
    <setting id="zamunda_username" default="true"></setting>
    <setting id="zelka_alias" default="true"></setting>
    <setting id="zelka_contains" default="true">0</setting>
    <setting id="zelka_password" default="true"></setting>
    <setting id="zelka_username" default="true"></setting>
    <setting id="zooqle_alias" default="true"></setting>
    <setting id="zooqle_contains" default="true">0</setting>
</settings>
